*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
}
header nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 20%;
}
header nav{
    padding: 15px;
    display: flex;
}
header span{
    margin-top: 10px;
    margin-left:32% ;
}
.cor{
    margin-left: 10%;
    background-color: aquamarine;
    width: 1000px;
}
.banner{
    margin: auto;
    margin-top: 20px;
    margin-left: 10%;
    width: 60%;
    height: 500px;
    background-image: url("../img/baner.jpg");
}
.texto{
    padding-top: 200px;
}
.texto h1{
    font-size: 50pt;
    margin-left: -6.5%;
}
.texto h4{
    margin-top: 20px;
    margin-left: -6.5%;
}
.img{
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-top: 34px;
}
.img .img-grid{
    width: 50%;
    height: 30px;
    margin-top: 10px;
}
.prortifolio{
    background-color: aquamarine;
    margin-top: -50px;
    width: 10%;
    height: 50px;
}
ul{
    display: flex;
    margin-left: 25%;
}
.text{
    color: black;
    margin-left: 20%;
}
ul li{
    padding: 2%;
    display: flex;
    vertical-align: row;
}
ul li:hover{
    border-bottom: 1px solid black;
}
.row h4{
    color: white;
    margin-top: -30px;
    margin-left:25%;
}
.row .img-grid:hover{
    box-shadow: 0px 0px 30px black;
}
.btn-grid{
    background-color: aquamarine;
    border-radius: 20px;
}
.latest:hover{
    border-bottom: 1px solid black;
}
.img-noticias{
    width: 100px;
    height: 100px;
}
.card:hover{
    color: blue;
}
#servicos a.destaque{
    display: block;
    background: var(--light);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: #000;
    text-decoration: none;
    transition: all ease-out 0.2s;
}
#servicos a.destaque:hover{
    background: #fff;
    box-shadow: 0px opx 10px 0px rgba(0, 0, 0,0.12);
    transform: scale(1.05);
}
#servicos p {
    color: #f83771;
}
#servicos a.destaque .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
#servicos a.destaque .img-container img{
    max-height: 160px;
}
.button{
    text-transform: lowercase;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}
.button-primary{
    background-color:transparent;
    border: none;
    border-color: #fc5185;
}
.button-primary:hover{
    background-color: #f83771;
    border-color: #f83771;
}
#servicos .badge{
    font-weight: 400;
}
#servicos .element-item img{
    border-radius: 5px;
    transition: all ease-out 0.2s;
}
#servicos .element-item img:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}
#servicos .button-group{
    margin-bottom: 30px;
}
#servicos .button-group button + button {
    margin-left: 30px;
}
#servicos .button-group button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
}
#servicos .button-group button.active{
    color: #f83771;
}
.button{
    text-transform: lowercase;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}
.button-primary{
    background-color:#fc5185;
    border-color:#fc5185;
}
.button-primary:hover{
    background-color: #f83771;
    border-color: #f83771;
}
.button-primary-outline{
    border-color:#fc5185;
    color:#fc5185;
}
.button-primary-outline:hover{
    background-color: #f83771;
    border-color: #f83771;
}
.foot-pri, .foot-seg{
    display: flex;
}
.lado1{
    margin-left: 75%;
}
.lado2{
    margin-left: 40%;
}
.lado2 img{
    padding-left: 20px;
}